* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}

body{
background-color: hsl(116, 49%, 7%);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
list-style: none;
text-decoration: none;
}


.h1-1 {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", "sans-serif";
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 20px;
}

.p-1 {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", "sans-serif";
    font-size: 15px;
    line-height: 1.5;
}

.left {
    background-color: hsl(127, 83%, 32%);
    padding: 50px;
    width: 50%;

}

.all-body {
    display: flex;  
    max-width: 1000px   ;
}


.image {
    height: 500px;
}

@media screen and (max-width: 600px) {
    .h1-1 {
        font-size: 24px;
    }

    section {
        flex-direction: column;
    }

    .img-1 {
        text-align: center;
    }
    .image {
        height: 215px;
        display: block;
        margin:  0 auto;
        
    }
}



